{% extends "::base.html.twig" %}

{% block title %}Liste des élèves{% endblock %}

{% block body %}

{% set userId = 0 %}
{% set userTab = [] %}
{% set subjectTab = [] %}
{% for i in 0..users|length-1 %}
    {% if userId != users[i].user_id %}
        {% set userId = users[i].user_id %}
        {% set userTab = userTab|merge([users[i]]) %}
    {% endif %}
    {% set subjectTab = subjectTab|merge([ users[i] ]) %}
{% endfor%}

    <h1>Liste des élèves</h1>
    <table>
        <thead>
            <tr>
                <th>Elève</th>
                <th>Matiere</th>
            </tr>
        </thead>
        <tbody>
        {% for i in 0..userTab|length-1 %}
                <tr>
                    <td>{{ userTab[i].firstname }} {{ userTab[i].lastname }}</td>
                    <td>
                        {% for j in 0..subjectTab|length-1 %}
                            {% if subjectTab[j].user_id == userTab[i].user_id %}
                                {{ subjectTab[j].name }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}