{% extends "::base.html.twig" %}

{% block title %}Liste des professeurs{% endblock %}

{% block body %}
    <a href="{{ path('professor_show') }}"><button>Consulter les professeurs</button></a>
    <a href="{{ path('student_show') }}"><button>Consulter les élèves</button></a>
{% endblock %}